/*RESET CSS*/
html, body, h1, ul, p, button{padding:0px; margin:0px;}
ul,ol {list-style:none;}
a {text-decoration:none;}
button {border: none; outline: none;}
img,fieldset,iframe {border:0;}
img,fieldset,section { border:none;}

/*font*/
@font-face{font-family:"Brush"; src:url("../fonts/Dry Brush.ttf")}
@font-face{font-family:"Maplestory_Light"; src:url("../fonts/Maplestory-Light.woff")}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300|Noto+Serif+KR');

/* default */
html, body {width: 100%; height: 100%;}

/*header*/
.header {
    position: fixed;
    width: 80%;
    height: 50px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: rgba(0,0,0,0);
    z-index: 100;
}
.header .nav {
    height: 40px;
    padding: 5px;
}
.header .h1 {
    float: left;
}
.header .h1 img {
    height: 40px;
}
.header .ul {
    overflow: hidden;
}
.header .li {
    float: left;
    margin-left: 5%;
    transition: all 1s;
    font-size: 20px;
    font-family: "Brush", sans-serif;;
    color: #fff;
    opacity: 0;
}
.header .li:first-child {
    margin-left: 15%;
}

/*section*/
.section {
    width: 100%;
}

/*home*/
.main {
    width: 100%;
    height: 1200px;
    overflow: hidden;
}
.main_video {
    height: 100%;
}
.main_text {
    position: absolute;
    width: 600px;
    bottom: 20%;
    right: 5%;
    color: #fff;
    font-size: 30px;
    font-family: "Maplestory_Light", sans-serif;;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.5px;
}
.main_text span {
    display: block;
    text-align: right;
    font-family: "Maplestory_light", sans-serif;
}

/*albom*/
.albom {
    position: relative;
    width:100%;
    height: 1000px;
    background-color: #dadada;
    overflow: hidden;
}
.play_btn {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 10;
}
.start_btn {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 50px 0 50px 90px;
    border-color: transparent transparent transparent #0aaf00;
    background-color: transparent;
    cursor: pointer;
}
.stop_btn {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 0px 40px 0 40px;
    border-color: transparent #0aaf00 transparent #0aaf00;
    background-color: transparent;
    cursor: pointer;
}
.cd_list {
    position: relative;
    width:100%;
    height: 100%; 
}
.albom_text {
    position: relative;
    display: none;
    width: 650px;
    height:650px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding-left: 30px;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 20px #cfcfcf;
    font-size: 27px;
    letter-spacing: -1px;
    line-height: 29px;
    font-size: 24px;
    color: #777;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}
.albom_text strong {
    display: block;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #333;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
}
.play {
    position: relative;
    width:100%;
    height: 100%;
}
.play .albom_text {
    display: block;
}
.cd_area {
    position: absolute;
    right: 20%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border: 1px solid rgba(255,255,255,0.4);
    transition: all 0.3s;
    cursor: pointer;
}
.play .cd_area {
    width: 600px;
    height:600px;
    top:50%;
    border-radius: 600px;
    overflow: hidden;
    z-index: 2;
}
.next .cd_area {
    width: 200px;
    height:200px;
    top:20%;
    border-radius: 200px;
    overflow: hidden;
    z-index: 1;
}
.prev .cd_area {
    width: 200px;
    height:200px;
    top:80%;
    border-radius: 200px;
    overflow: hidden;
    z-index: 1;
}
#cd_1 .cd_area {
    background: url(../img/cd_1.png);
    background-size: cover;
}
#cd_2 .cd_area {
    background: url(../img/cd_2.png);
    background-size: cover;
}
#cd_3 .cd_area {
    background: url(../img/cd_3.png);
    background-size: cover;
}
#cd_4 .cd_area {
    background: url(../img/cd_4.png);
    background-size: cover;
}
#cd_5 .cd_area {
    background: url(../img/cd_5.png);
    background-size: cover;
}
.wave_area {
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: 50%;
    right: -85%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.waves {
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 500px;
    animation-name: play;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wave_1 {
    top: -100px;
    background: linear-gradient( to right, rgb(210, 230, 98, 0.3), rgba(122, 112, 80, 0.3));
    animation-duration: 8s;
}
.wave_2 {
    top: -50px;
    background: linear-gradient( to right, rgb(216, 89, 89, 0.4), rgba(72, 52, 18, 0.5));
    animation-duration: 9.5s;
}
.wave_3 {
    background: linear-gradient( to right, rgb(75, 190, 110, 0.4), rgba(12, 82, 80, 0.3));
    animation-duration: 11s;
}
.wave_4 {
    top: 50px;
    background: linear-gradient( to right, rgba(249, 52, 131, 0.4), rgba(172, 182, 80, 0.3));
    animation-duration: 12.5s;
}
.wave_5 {
    top: 100px;
    background: linear-gradient( to right, rgba(90, 80, 182, 0.5), rgba(190, 12, 85, 0.3));
    animation-duration: 14s;
}
.wave_1.music_play {
    animation-duration: 2s;
}
.wave_2.music_play {
    animation-duration: 3.5s;
}
.wave_3.music_play {
    animation-duration: 5s;
}
.wave_4.music_play {
    animation-duration: 6.5s;
}
.wave_5.music_play {
    animation-duration: 8s;
}
@keyframes play {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*letter*/
.letter{
    width: 100%;
    overflow: hidden;
}
.letter_area {
    position: relative;
    width:100%;
    height: 800px;
    background: #000;
}
.letter_area img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.letter_text {
    position: absolute;
    width: 300px;
    top:50%;
    left:65%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.letter_text textarea {
    width: 300px;
    font-size: 20px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.letter_text textarea:nth-child(4) {
    height: 400px;
}
.letter_text button {
    width: 300px;
    height: 30px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}

/*footer*/
footer {
    width: 100%;
    height: 75px;
    background: #000;
}
.sns {
    float: right;
    margin-right: 50px;
}
.sns img {
    height: 30px;
}
@media all and (max-width: 1600px) {
    .cd_area {
        right: 10%;
    }
}
@media all and (max-width: 1400px) {
    .albom_text {
        left: 0;
    }
    .cd_area {
        right: 0;
    }
}
@media all and (max-width: 1100px) {
    .albom_text {
        display: none !important; 
    }
    .wave_area {
        right: -100%;
    }
}
@media all and (max-width: 950px) {
    .main_text {
        width: 350px;
        font-size: 20px;
    }
    .wave_area {
        right: -150%;
    }
    .letter_area img {
        left:20%;
    }
    .letter_text {
        left:25%;
    }
}
@media all and (max-width: 500px) {
    .header .li {
        font-size: 14px;
    }
    .main_text {
        width: 300px;
        font-size: 14px;
    }
    .wave_area {
        width: 700px;
    }
    .letter_text textarea {
        width: 250px;
    }
    .letter_text button {
        width: 250px;
    }
}