/*font*/
@font-face{font-family:"Brush"; src:url("../fonts/Dry Brush.ttf")}
@font-face{font-family:"Maplestory_Light"; src:url("../fonts/Maplestory-Light.woff")}


/* opacity */
.off {
    opacity: 0;
}

/*header*/
header {
    position: fixed;
    width: 1000px;
    height: 75px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 3px dashed #000;
    border-top: none;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    background: rgba(0,0,0,0);
    z-index: 100;
}
header nav {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}
header h1 {
    display: inline-block;
    width: 30%;
    height: 100%;
    padding-top: 15px;
}
header h1 img {
    width: auto;
    height: 50px;
}
header ul {
    display: inline-block;
    width: 70%;
    height: 100%;
    float: right;
}
header li {
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 20px;
    transition:all 1s;
}
header li a {
    font-size: 20px;
    font-family: "Brush";
    color: #fff;
}
header li:hover {
    transform: scale(1.3);
}

/*container*/
#container {
    width: 100%;
    height: auto;
}


/*home*/
#home {
    position:relative;
    width: 100%;
    background: url(../img/ocean.jpg);
    background-size: cover;
}
#home_text {
    width: 100%;
    height: 1000px;
    border-top: 3px dashed #000;
    z-index: 10;
}
#home_text p {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
}
#home_text span {
    display: block;
    font-size: 40px;
    font-family: "Maplestory_Light"
}
#home_text span:nth-child(2) {
    padding-left: 60px;
}
#home_text span:nth-child(3) {
    padding-left: 120px;
}
#home_text span:nth-child(4) {
    text-align: right;
    font-family: "Maplestory_light"
}
#home_video {
    position: relative;
    width: 100%;
    height: 1000px;
    border-top: 3px dashed #000;
    background: url(../img/ocean.jpg);
    background-size: cover;
    z-index: 20;
}
#home_video video {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}


/*about*/
#about {
    position: relative;
    width: 100%;
    background: url(../img/ocean.jpg) no-repeat;
    background-size: cover;
    border-bottom: 3px dashed #000;
    z-index: 20;
}
.infor {
    position: relative;
    width:100%;
    height: 1000px;
    border-top: 3px dashed #000;
}
.infor:nth-child(2) {
    border-top: none;
}
.img_area {
    position: absolute;
    width: 50%;
    height: 1000px;
    background: url(../img/singer1.png) no-repeat 50% 75%;
}
.img_area:nth-child(2) {
    left:50%;
    background: url(../img/singer2.png) no-repeat 50% 75%;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/shadow.png) 50%;
    background-size: cover;
}
.about_text {
    position: absolute;
    width: 50%;
    height: 1000px;
    background: #000;
}
.about_text:nth-child(2) {
    left:50%;
}
.about_text p {
    display: block;
    color: white;
    font-size: 30px;
    padding-left: 100px;
    font-family: "Maplestory_Light";
}
.about_text p:nth-child(1) {
    padding-top:200px;
}
.about_text p:nth-child(2) {
    padding-top:250px;
}
.about_text span{
    display: block;
}


/*albom*/
#albom {
    position: relative;
    width:100%;
    height: 1000px;
    z-index: 10;
}
#albom_area {
    position: fixed;
    width:1200px;
    height: 1000px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px dashed #000;
    border-top: none;
    border-bottom: none;
    background: url(../img/ocean.jpg);
    background-size: cover;
    overflow: hidden;
}
#btn {
    position: absolute;
    width: 50%;
    height:1000px;
    top:50%;
    right:0;
    transform: translateY(-50%);
    z-index: 3;
}
#start_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#next_btn {
    position: absolute;
    width: 200px;
    height:250px;
    top:5%;
    right: 0;
    cursor: pointer;
}
#prev_btn {
    position: absolute;
    width: 200px;
    height:250px;
    top:65%;
    right: 0;
    cursor: pointer;
}
#cd_list {
   position: relative;
    width:100%;
    height: 100%; 
}
.play {
    position: relative;
    width:100%;
    height: 100%;
}
.albom_text {
    position: relative;
    display: none;
    width: 650px;
    height:650px;
    top:50%;
    transform: translateY(-50%);
    margin-left: 50px;
    padding-left: 30px;
    border: 3px dashed #000;
    border-radius: 50px;
}
.albom_text span {
    display: block;
    font-size: 27px;
    font-family: "Maplestory_Light";
    letter-spacing: 3px;
}
.albom_text span:nth-child(1) {
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "Maplestory_Light";
}
.play .albom_text {
    display: block;
}
.cd_area {
    position: absolute;
    right:0;
    transform: translateY(-50%);
    border: 3px dashed #000;
    transition: all 0.3s;
}
.play .cd_area {
    width: 600px;
    height:600px;
    top:50%;
    border-radius: 600px;
    z-index: 2;
}
.next .cd_area {
    width: 200px;
    height:200px;
    top:20%;
    border-radius: 200px;
    z-index: 1;
}
.prev .cd_area {
    width: 200px;
    height:200px;
    top:80%;
    border-radius: 200px;
    z-index: 1;
}
.cd_img {
    width: 100%;
    height: 100%;
}
#cd_1 .cd_img {
    background: url(../img/cd_1.png);
    background-size: cover;
}
#cd_2 .cd_img {
    background: url(../img/cd_2.png);
    background-size: cover;
}
#cd_3 .cd_img {
    background: url(../img/cd_3.png);
    background-size: cover;
}
#cd_4 .cd_img {
    background: url(../img/cd_4.png);
    background-size: cover;
}
#cd_5 .cd_img {
    background: url(../img/cd_5.png);
    background-size: cover;
}
.turn {
    animation-name: play;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes play {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/*letter*/
#letter{
    position: relative;
    width: 100%;
    border-top: 3px dashed #000;
    z-index: 20;
}
#letter_area {
    position: relative;
    width:100%;
    height: 1100px;
    background: #000;
}
#letter img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#letter_text {
    position: absolute;
    top:50%;
    left:65%;
    transform: translateY(-50%);
    z-index: 2;
}
#letter_text textarea {
    position: relative;
    min-width: 300px;
    min-height: 25px;
    max-width: 300px;
    max-height: 25px;
    font-size: 20px;
    color: #000;
    font-family: "Maplestory_light";
    border: 3px dashed #000;
    background: url(../img/ocean.jpg);
    background-size: cover;
}
#letter_text p:nth-child(4) textarea{
    min-height: 400px;
    max-height: 400px;
}
#letter_text input {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: "Maplestory_light";
    border: 3px dashed #000;
    background: url(../img/ocean.jpg);
    background-size: cover;
}

/*footer*/
footer {
    position: fixed;
    width: 1000px;
    height: 75px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 3px dashed #000;
    border-bottom: none;
    border-radius: 50px 50px 0px 0px;
    text-align: center;
    background: rgba(0,0,0,0);
    z-index: 100;
}
footer img {
    width: auto;
    height: 50px;
    padding-top: 20px;
}
#sns_area {
    position: absolute;
    width: 300px;
    height: 100%;
    bottom: 0;
    right: 10px;
}
.sns {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}
.sns img {
    height: 30px;
    padding-top: 25px;
}
